body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}



.header {
  display: flex;
  position: absolute;
  width: 1170px;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 27px;
  align-items: center;
  z-index: 1;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;

  &__item {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    margin: 0 30px;
    list-style: none;
  }

  &__link {
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: linear .2s;

    &:focus {
      outline: 3px solid #fcec64;
    }

    &:hover {
      color: #e1e1e1;
    }
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {
    padding: 5px;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    margin: 0 10px;
    list-style: none;
  }

  &__link {
    margin: 0 3px;
    text-decoration: none;

    &:focus {
      outline: 3px solid #fcec64;
    }

    svg {
      transition: linear .2s;
      &:hover {
        fill: #e1e1e1;
      }
    }
  }
}

.main {
  display: block;
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #648cff;

  .container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto 20px;
    padding-top: 200px;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -55px;
    background-image: url(/images/wave-1.png);
    background-size: cover;
    width: 100%;
    height: 383px;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    bottom: -55px;
    background-image: url(/images/wave-2.png);
    background-size: cover;
    width: 100%;
    height: 411px;
  }

  &__right {
    z-index: 1;
  }
  &__left {
    width: 555px;
    padding-top: 35px;
    z-index: 1;
  }

  &__title {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
  }

  &__subtitle {
    display: block;
    max-width: 390px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
  }
}

.btn {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 37px;
  background-color: #fc6a42;
  border: none;
  margin: 7px;
  transition: linear 0.3s;

  &:focus {
    outline: 3px solid #fcec64;
  }

  &:hover{
    background-color: #fc4b42;
  }

  &-o {
    background-color: #4466c9;

  &:hover{
    background-color: #4445c9;
  }
  }
}

.down {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;

  &:focus {
    outline: 3px solid #fcec64;
  }

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 1px;
    background-color: red;
    right: 24px;
    top: 27px;
    transform: rotate(45deg);
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 1px;
    background-color: red;
    right: 18px;
    top: 27px;
    transform: rotate(-45deg);
  }
}

.features {
  display: block;

  .container {
    display: block;
    max-width: 1170px;
    margin: 0 auto 20px;
  }

  &__title {
    margin-top: 132px;
    text-align: center;
    color: #648cff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    margin-bottom: 100px;
    text-align: center;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
  }

  &__list {
    display: flex;
    padding: 0;
    justify-content: flex-end;
  }

  &__item {
    display: block;
    margin-left: 120px;
    width: 260px;

    h3 {
      color: #353854;
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;
    }

    span {
      color: #aeaeae;
      font-size: 16px;
      line-height: 30px;
    }
  }

  .advantages-one {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 30px;
      left: -100px;
      height: 62px;
      width: 80px;
      background-image: url(/images/features-icon-1.png);
    }
  }

  .advantages-two {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 30px;
      left: -100px;
      width: 78px;
      height: 62px;
      background-image: url(/images/features-icon-2.png);
    }
  }

  .advantages-three {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 30px;
      left: -100px;
      width: 77px;
      height: 62px;
      background-image: url(/images/features-icon-3.png);
    }
  }
}

.widgets {
  .container {
    display: block;
    max-width: 1170px;
    margin: 0 auto 20px;
  }

  &__title {
    margin-top: 197px;
    text-align: center;
    color: #648cff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    margin-bottom: 100px;
    text-align: center;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;

  &__left,
  &__right {
    vertical-align: center;
    position: relative;
    margin-top: 270px;
    width: 41px;
    height: 61px;
    background-color: #ffffff;
    border: none;

    &:focus {
      outline: 3px solid #fcec64;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 40px;
      height: 4px;
      top: 15px;
      left: 0;
      border-radius: 2px;
      background-color: #c3cfe5;
      transform: rotate(-45deg);

    }

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 40px;
      height: 4px;
      top: 41px;
      left: 0;
      border-radius: 2px;
      background-color: #c3cfe5;
      transform: rotate(45deg);

    }
  }

  &__right {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }



  &__list {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0 80px;
    padding: 0;

    img {
      box-shadow: 0px 55px 80px rgba(#000000, 0.2);
    }
  }

  &__item-activ {
    display: block;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-71%);
  }
}

.screenshots {
  .container {
    display: block;
    max-width: 1170px;
    margin: 0 auto 20px;
  }


  &__title {
    margin-top: 197px;
    text-align: center;
    color: #648cff;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    margin-bottom: 100px;
    text-align: center;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
  }

  &__item {
    display: flex;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    & > img {
      height: 100%;
    }
  }

  &__text {
    margin: 110px 100px;

    h3 {
      color: #648cff;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }

    span {
      display: block;
      color: #353854;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      margin-bottom: 42px;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 100px;
      &:hover {
        height: auto;
      }
    }
  }

}

